* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    line-height: 1.4;
}

a {
    text-decoration: none;
}

/*----- CLASSES UTILITÁRIAS -----*/
/* Classe Texto Principal */
.text-primary { 
    color: #ff1e00;
}

/* Classe Cabeçalho Grande */
.large-heading { 
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

/* Classe Botão */
.btn {
    display: inline-block;
    color: #fff;
    background-color: #ff1e00;
    padding: 0.5rem 2rem;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.2s;
}

.btn:hover{
    background-color: #ca1800;
}

/* Classe Botão Escuro */
.btn-dark{
    background-color: #333;
    color: #fff;
} 

/* classe lead: parágrafo principal */
.lead{
    font-size: 1.3rem;
    margin-bottom: 2rem;
}
/*---- FIM CLASSE UTILITÁRIA ----*/

/*---- NAVBAR ----*/
/* ID Barra de Navegação */
#navbar { 
    display: flex;
    background-color: #333;
    color: #fff;
    justify-content: space-between;
    padding: 1rem;
    /* sobreposição */
    position: sticky;
    top: 0;
    z-index: 1
}

/* ID Barra de navegação, grupo lista*/
#navbar ul { 
    display: flex;
    list-style: none;
    align-items: center;
}

/* ID Barra de navegação, grupo lista e links */
#navbar ul li a { 
    color: #fff;
    padding: 0.75rem;
    margin: 0 0.25rem;
}

/* ID Barra de navegação, grupo lista e estilo do links */
#navbar ul li a:hover{
    background-color: #ff1e00;
    border-radius: 5px;
}

/*---- SHOWCASE ----*/
/* ID Showcase */
#showcase{
    background: #333 url('/images/showcase.jpg') no-repeat center center/cover;
    height: 100vh;
    color: #fff
}

#showcase .showcase-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;

    /* sobreposição: para a img ter o bgcolor mais escuro */
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
}