* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    line-height: 1.4;
}

a {
    text-decoration: none;
}

/*----- CLASSES UTILITÁRIAS -----*/
/* Classe Texto Principal */
.container{
    max-width: 1200px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}

/* classe: texto ao centralizado*/
.text-center{
    text-align: center;
}

.text-primary { 
    color: #ff1e00;
}

/* Classe Cabeçalho Grande */
.large-heading { 
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

/* Classe: Título médio*/
.m-heading{
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;

}

/* Classe Botão */
.btn {
    display: inline-block;
    color: #fff;
    background-color: #ff1e00;
    padding: 0.5rem 2rem;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.2s;
}

.btn:hover{
    background-color: #ca1800;
}

/* Classe Botão Escuro */
.btn-dark{
    background-color: #333;
    color: #fff;
} 

.bg-light{
    background-color: #f4f4f4;
    color: #333;
}

.bg-dark{
    background-color: #333;
    color: #fff;
}

.bg-primary{
    background-color: #ff1e00;
    color: #fff;
}

/* classe lead (Lema): parágrafo principal */
.lead{
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

/* Classe para definir o espaçamento (padding) nas direções vertical (topo e base) */
.py-1{
    padding: 1.5rem 0; /* Define 1.5rem de padding no topo e na base, 0 nos lados */
}

.py-2{
    padding: 2rem 0; /* Define 2rem de padding no topo e na base, 0 nos lados */
}

.py-3{
    padding: 3rem 0; /* Define 3rem de padding no topo e na base, 0 nos lados */
}

/* Classe para definir o espaçamento (padding) nas 4 direções (topo, direita, base e esquerda) */
.p-1{
    padding: 1.5rem 0; /* Define 1.5rem de padding em todas as direções (topo, direita, base e esquerda) */
}

.p-2{
    padding: 2rem 0; /* Define 2rem de padding em todas as direções (topo, direita, base e esquerda) */
}

.p-3{
    padding: 3rem 0; /* Define 3rem de padding em todas as direções (topo, direita, base e esquerda) */
}

/*---- FIM CLASSE UTILITÁRIA ----*/

/*---- NAVBAR ----*/
/* ID Barra de Navegação */
#navbar { 
    display: flex;
    background-color: #333;
    color: #fff;
    justify-content: space-between;
    padding: 1rem;
    /* sobreposição */
    position: sticky;
    top: 0;
    z-index: 1
}

/* ID Barra de navegação, grupo lista*/
#navbar ul { 
    display: flex;
    list-style: none;
    align-items: center;
}

/* ID Barra de navegação, grupo lista e links */
#navbar ul li a { 
    color: #fff;
    padding: 0.75rem;
    margin: 0 0.25rem;
}

/* ID Barra de navegação, grupo lista e estilo do links */
#navbar ul li a:hover{
    background-color: #ff1e00;
    border-radius: 5px;
}

/*---- SHOWCASE ----*/
/* ID Showcase */
#showcase{
    background: #333 url('../images/showcase.jpg') no-repeat center center/cover;
    height: 100vh;
    color: #fff
}

#showcase .showcase-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;

    /* sobreposição: para a img ter o bgcolor mais escuro */
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
}


/* SECÇÃO: O QUE NÓS FAZEMOS */

/* Contêiner principal dos itens dentro da seção "services" */
#services .items {
    display: flex; /* Define um layout flexível para organizar os itens internos */
    padding: 1rem; /* Adiciona espaçamento interno ao redor de todo o contêiner */
}

/* Estilização para cada item individual dentro do contêiner */
#services .items .item {
    text-align: center; /* Centraliza horizontalmente o conteúdo dentro de cada item */
    padding: 1rem; /* Adiciona espaçamento interno em torno de cada item */
}

/* Estilização para o ícone dentro de cada item */
#services .items .item i {
    background-color: #ff1e00; /* Define a cor de fundo do ícone */
    padding: 1rem; /* Adiciona espaçamento interno ao redor do conteúdo do ícone */
    border-radius: 50%; /* Transforma o fundo do ícone em um círculo */
    margin-bottom: 1rem; /* Adiciona espaço abaixo do ícone, separando-o do texto ou conteúdo seguinte */
}

/* SECÇÃO: QUEM SOMOS NÓS */
#about{

}

#about .about-img{
    background: #333 url(../images/team.jpg) no-repeat center center/cover;

}