:root {
    --page-max-width: 1280px;
    --dark-grey: #1b1b1b;
    --primary-color: #09f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    color: #707070;
}

main {
    background-color: #eee;
}

/* Classes utilitárias */
.container {
    margin-inline: auto;
    width: var(--page-max-width);
}

a {
    text-decoration: none;
} 

.section-title {
    padding-block: 2rem;
    color: #000;
}

.blog-category {
    background-color: var(--primary-color);
    padding: 0.2rem 0.5rem;
    font-size: 0.8rem;
    font-weight: 600;
    color: #fff;
}

.blog-category.blue {
    background-color: var(--primary-color);
}

.blog-category.green {
    background-color: #00c020;
}

.blog-category.orange {
    background-color: #f80;
}

.blog-category.red {
    background-color: #f00;
} /* Fim Classes utilitárias */

/* Nav Bar | parte de cima */
nav {
    background-color: rgba(41, 41, 41, 0.5);
    padding: 0.5rem;
    width: 100%;
    color: #fff;
    position: fixed;
    backdrop-filter: blur(10px);
    z-index: 2;
}

nav .nav-top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0.5rem;
    border-bottom: 1px solid #acacac;
    justify-items: center;
}

nav .nav-top .social-icons {
    list-style: none;
    display: flex;
    font-size: 1.2rem;
    justify-self: start;
}

nav .nav-top .social-icons li {
    margin-right: 1.5rem;
    transition: 0.2s all ease;
}

nav .nav-top .social-icons li:last-child {
    margin-right: unset;
}

nav .nav-top .social-icons li a{
    color: #fff;
}

/* Nav Bar Logotipo | parte de cima */
nav .logo {
    width: 120px;
}

/* Caixa de pesquisa | parte de cima */
nav .nav-top .search-input-container {
    justify-self: end;
}

nav .nav-top .search-input-container input {
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    width: 100px;
}

nav .nav-top .search-input-container input::placeholder {
    color: #c0c0c0;
    text-transform: uppercase;
    font-size: 0.7rem;
}

/* Nav Bar | parte de baixo */
nav .nav-bottom {
    display: grid;
    justify-content: center;
    padding: 0.5rem;
}

nav .nav-bottom .nav-menu {
    list-style: none;
    display: flex;
}

nav .nav-bottom .nav-menu li {
    cursor: pointer;
    padding: 0.5rem 1.2rem;
    transition: 0.2s all ease;
}

nav .nav-bottom .nav-menu li a {
    color: #fff;
    font-weight: 500;
}

nav .nav-bottom .nav-menu li a.current {
    border-bottom: 1px solid #fff;
}

nav .nav-bottom .nav-menu li:hover,
nav .nav-top .social-icons li:hover {
    transform: translateY(-0.25rem);
}

/* Header */
header {
    background: var(--dark-grey) url("../image/header-image.jpg") no-repeat center center/cover;
    height: 80vh;
}

header .showcase-blogs {
    display: grid;
    grid-template-columns: 2fr 1fr;
    position: relative;
    top: 10rem;
    height: calc(80vh - 10rem);
}

header .showcase-blogs article {
    color: #fff;
    padding: 1rem;
    display: flex;
    align-items: end;
    position: relative;
}

header .showcase-blogs article::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
}

header .showcase-blogs article a {
    color: #fff;
    z-index: 1;
}

header .showcase-blogs article:first-child {
    background: var(--dark-grey) url("../image/blog-img-1.jpg") no-repeat center center/cover;
    grid-row-end: span 2;
}

header .showcase-blogs article:nth-child(2) {
    background: var(--dark-grey) url("../image/blog-img-3.jpg") no-repeat center center/cover;
}

header .showcase-blogs article:last-child {
    background: var(--dark-grey) url("../image/blog-img-2.jpg") no-repeat center center/cover;
}

header .showcase-blogs .blog-info {
    display: flex;
    align-items: center;
}

header .showcase-blogs .blog-info img {
    width: 55px;
    margin-right: 1rem;
    border-radius: 50%;
}

header .showcase-blogs article h3 {
    margin-block: 0.5rem;
}

header .showcase-blogs article:first-child h3 {
    font-size: 2.5rem;
}

/* Main | Blog Container */
main .blogs-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

main .blogs-container article {
    background-color: #fff;
    display: grid;
    grid-template-rows: 1fr 0.7fr;
    transition: 0.2s all ease;
}

main .blogs-container article:hover {
    transform: translateY(-1rem);
}

main .blogs-container article h3 {
    color: #000;
}

main .blogs-container article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main .blogs-container article .blog-info {
    padding: 1.5rem;
}

main .blogs-container article .blog-info a {
    color: unset;
}

/* Seleciona todos os elementos filhos DIRETOS do <a>, dentro da estrutura: main > .blogs-container > article > .blog-info > a, EXCETO o último filho.
Ou seja: adiciona margem inferior em todos os elementos dentro do link, menos no último (para não criar espaço desnecessário no final). */

main .blogs-container article .blog-info a > *:not(:last-child) {
    margin-bottom: 1rem;
}

/* Main | Blogs Container */
main .blogs-container article:nth-child(4) {
    grid-column-end: span 2;
    grid-template-rows: auto;
}

main .blogs-container article:nth-child(5) {
    grid-column-end: span 3;
    grid-template-rows: auto;
}

main .blogs-container article:nth-child(11) {
    grid-column: 2 / span 2;
    grid-template-rows: auto;
}

main .blogs-container .newsletter-container {
    grid-column-start: 4;
    grid-row-start: 2;
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 2rem;
}

main .blogs-container .newsletter-container > div {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
    color: #fff;
}

main .blogs-container .newsletter-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2rem;
}

main .blogs-container .newsletter-container form > * {
    margin-block: 0.3rem;
    padding: 0.5rem;
    border: none;
}

main .blogs-container .newsletter-container form button {
    color: #fff;
    background-color: var(--dark-grey);
    cursor: pointer;
    transition: all 0.2s ease;
}

main .blogs-container .newsletter-container form button:hover {
    background-color: #3f3f3f;
}

main .blogs-container .newsletter-container form img {
    width: 100%;
}

/* Pagination */

.pagination-section .container {
    text-align: center;
    padding-block: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-section .container ul {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-inline: 1rem; /* cria espços a esquerda e a direita */
}

.pagination-section .container ul li {
    padding: 0.5rem;
    width: 2rem;
    font-weight: 700;
}

.pagination-section .container ul li.current {
    background-color: var(--dark-grey);
    border-radius: 8px;
}

.pagination-section .container ul li a {
    color: var(--dark-grey);
}

.pagination-section .container ul li.current a {
    color: #fff;
}

.pagination-section .pagination-btn {
    background-color: #fff;
    width: 2.8rem;
    height: 2.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark-grey);
    border-radius: 50%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}